.shafa {
			width: auto;
			border: 1px #555  solid ;
			padding: 5px;
			margin: 15px;
			float: left;
			
		}
		
.hatka{ 
			width: 350px;
			height: 700px;
			border: 2px #333 solid;
			float: left;
			padding: 5px;
			margin: 15px;
            background-color: beige;
		}
img{
            width: 200px;
            
            
        }
.photo{
    float: left;
    width: 210px;
}
img.logo_2
{
  width: 50px;  
}
